.img-logo{
    display: flex; 
    justify-content: center;
}
.pesquisa{
    display: flex; 
    justify-content: center;
    margin: 2% 30%;
}
 .form-control{
    width: 100%;
 }
 .tab-content{
    margin: 0% 10%;
 }
 .navbar-menu{
    margin: 0% 10%;
 }
 